@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

.outer-box {
  background-color: hsl(216, 50%, 16%);
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;

  border-radius: 0.5em;
  margin: auto;
}
.outer-box .img {
  display: flex;
  /* justify-content: center; */
}
.outer-box .img {
  width: 350px;
  height: 390px;
  border-radius: 0.5em;
  margin: 1em 8em;
  background-image: url(./images/image-equilibrium.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.outer-box .img:hover {
  background-color: #00fff76e;
  background-image: url(./images/image-equilibrium.jpg),
    url(./images/icon-view.svg);
  background-size: cover, 40px;
  background-position: 0 0, 50%;
  background-blend-mode: lighten;
}
.outer-box .text h2 {
  color: hsl(0, 0%, 100%);
  margin: 0.3em 2.5em;
}
.outer-box .text h2:hover {
  color: hsl(178, 100%, 50%);
}
.outer-box .text h3 {
  color: hsl(215, 51%, 70%);
  padding: 0.3em 4em;
  font-size: 0.95em;
  font-weight: 300;
}
.text-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5em 0.2em;
  font-size: 0.95em;
  font-weight: 400;
}

.text-icons .eth-icon span {
  padding-left: 0.3em;
  color: hsl(178, 100%, 50%);
}
.text-icons .day-icon span {
  padding-left: 0.3em;
  color: hsl(215, 51%, 70%);
}
.creator {
  border-top: 0.03em solid hsl(0, 0%, 100%);
  padding: 0.5em 0.9em;
  margin: 0.5em 0.9em;
  display: flex;
  flex-direction: row;
  color: hsl(0, 0%, 100%);
}
.creator .creator-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5em;
  border: 00.08em solid hsl(0, 0%, 100%);
}

.creator .creator-name span {
  color: hsl(215, 51%, 70%);
}
.creator .creator-name h2 {
  font-size: 1em;
  font-weight: 400;
  padding: 0.8em;
}

@media screen and (min-width: 1023px) {
  .outer-box {
    margin-top: 1em;
    width: 600px;
    height: 1000px;
  }
  .outer-box .img img {
    width: 398px;
    height: 500px;
    border-radius: 1em;
    margin: 2em 6.5em;
  }
  .outer-box .text h2 {
    margin: 0.3em 4.5em;
  }
  .outer-box .text h3 {
    padding: 0.3em 5.2em;
    font-size: 1.2em;
    font-weight: 300;
  }
  .text-icons {
    padding: 1.5em 1.2em;
    font-size: 1.95em;
  }

  .text-icons .eth-icon span {
    padding-left: 0.9em;
  }
  .text-icons .day-icon span {
    padding-left: 0.9em;
  }
  .creator {
    border-top: 0.1em solid hsl(0, 0%, 100%);
    padding: 1.5em 1.9em;
    margin: 1.5em 1.9em;
  }
  .creator .creator-img img {
    width: 100px;
    height: 100px;

    margin-right: 1.5em;
    border: 0.2em solid hsl(0, 0%, 100%);
  }

  .creator .creator-name h2 {
    font-size: 1.7em;
    padding: 0.8em;
  }
}
